body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: #f4f4f9;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.1s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
